:host {
  margin: auto;
  margin-top: 30px;
  padding: 10px;
  text-align: center;
  width: 50%;
  max-width: 250px;

  .description {
    margin-top: 10px;
    color: #fff;
  }
}
img {
  height: 150px;
}
